@page "/add"
@rendermode InteractiveServer
<div class="container mt-4">
    <h3>Ajouter un fruit personnel</h3>
    <div class="card p-4 shadow-sm" style="max-width: 500px;">
        <label>Nom du fruit</label>
        <input class="form-control mb-3" @bind="_fruit.name" />
        <label><input type="checkbox" @bind="_fruit.instock" /> Favori ?</label>
        <div class="mt-4">
            <button class="btn btn-primary" @onclick="Submit">Créer</button>
            <a href="/" class="btn btn-secondary">Annuler</a>
        </div>
    </div>
</div>