@page "/delete/{Id:int}"
@rendermode InteractiveServer

<PageTitle>Delete Fruit</PageTitle>

@if (_fruit == null)
{
    <p><em>Chargement des données...</em></p>
}
else
{
    <div class="border p-3 mt-4" style="width:50%">
        <div class="row pb-2">
            <h2 class="text-danger pl-3">Delete Fruit</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label class="h5">Voulez-vous vraiment supprimer ce fruit ?</label><br/>
            <input class="form-control" value="@_fruit.name" disabled />
        </div>
        
        @* On utilise un bouton avec @onclick car on ne soumet pas de formulaire d'édition ici *@
        <button class="btn btn-danger" style="width:150px;" @onclick="Submit">Confirmer</button>
        <a class="btn btn-secondary" style="width:150px;" href="/">Annuler</a>
    </div>
}