@page "/edit/{Id:int}"
@rendermode InteractiveServer

<PageTitle>Edit Fruit</PageTitle>

@if (_fruit != null)
{
    <EditForm OnSubmit="Submit" FormName="EditFruit" Model="_fruit">
        <div class="border p-3 mt-4" style="width:50%">
            <div class="row pb-2">
                <h2 class="text-primary pl-3">Edit Fruit</h2>
                <hr />
            </div>
            <div class="mb-3">
                <label class="h5">Name</label><br/>
                <InputText class="form-control" @bind-Value="_fruit.name" />
            </div>
            <div class="mb-3">
                <InputCheckbox @bind-Value="_fruit.instock" style="width:20px; height:20px" />
                <label class="h7"> Favorite</label>
            </div>
            <button type="submit" class="btn btn-danger" style="width:150px;">Save</button>
            <a class="btn btn-secondary" style="width:150px;" href="/">Cancel</a>
        </div>
    </EditForm>
}